<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.naccl.gobang.mapper.ScoreMapper">
    <!--按用户名查询User-->
    <select id="findScoreByUsername" resultType="top.naccl.gobang.model.entity.Score">
        select s.score from score s inner join user u on s.user_id = u.id where u.username = #{username};
    </select>
</mapper>